.file-merge {
  text-align: center;
  margin-top: 20px;
}

.file-merge h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.file-merge input[type="file"] {
  display: none;
}



.file-merge button.delete-button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
   margin-bottom: 20px;
}

.file-merge button:hover {
  background-color: #0056b3;
}

.file-merge .file-details {
  font-size: 18px;
}

.file-merge .selected-files,
.file-merge .merged-files {
  margin-top: 20px;
}

.file-merge .selected-files h4,
.file-merge .merged-files h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.file-merge .selected-files ul,
.file-merge .merged-files ul {
  list-style-type: none;
  padding: 0;
}

.file-merge .selected-files li,
.file-merge .merged-files li {
  font-size: 16px;
}
.file-merge button.select-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
  margin-left:20px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20xp;
}
.button-container {
  padding: 10px 20px;

  margin-right:20px ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-merge .merge-status {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.file-merge .merge-success {
  background-color: #28a745; /* Green color for success */
}

.file-merge .merge-error {
  background-color: #dc3545; /* Red color for error */
}

.file-merge .merge-status {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.file-merge .merge-success {
  background-color: #28a745; /* Green color for success */
}

.file-merge .merge-error {
  background-color: #dc3545; /* Red color for error */
}